{% extends "blog/base.html" %}

{% block title %}Поделиться постом{% endblock %}

{% block content %}
    {% if sent %}
        <h1>Email успешно отправлен</h1>
        <p>
            "{{ post.title }}" Был успешно отправлен {{ form.cleaned_data.to }}.
        </p>
    {% else %}
        <h1>Поделиться "{{ post.title }}" По электронной почте</h1>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Отправить email">
        </form>
    {% endif %}
{% endblock %}